@import "tailwindcss";

/* Fonts */

.headings{
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


.text-body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}


.code-text-bold {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


.code-text {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Flicker animation */

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        opacity: 1;
        text-shadow:
            0 0 5px #00FF88,
            0 0 10px #00FF88,
            0 0 20px #00FF88,
            0 0 40px #00FF88;
    }
    20%, 24%, 55% {
        opacity: 0.6;
        text-shadow: none;
    }
}

.flicker {
    animation: flicker 2.5s infinite;
}

@keyframes flicker-hover {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow:
        0 0 3px #00ff88,
        0 0 6px #00ff88,
        0 0 12px #00ff88;
    }
    20%, 24%, 55% {
        text-shadow: none;
    }
}

.neon-hover {
    transition: all 0.3s ease-in-out;
}

.neon-hover:hover {
    color: #ccffe5;
    text-shadow:
        0 0 4px #00ff88,
        0 0 8px #00ff88,
        0 0 16px #00ff88;
    animation: flicker-hover 2.5s infinite;
}


/* Fade in animations */

@keyframes fade-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-in-bottom {
    opacity: 0; /* Start hidden */
    transform: translateY(50px);
    transition: all 0.5s ease-out;
}

.fade-in-bottom.visible {
    opacity: 1;
    transform: translateY(0);
    animation: fade-in-bottom 0.7s ease-out forwards;
}

/* Fade in from left (image) and right (text) */
.fade-in-left,
.fade-in-right {
    opacity: 0;           /* Start hidden */
    transform: translateX(0); /* Starting position overridden by keyframes */
}

/* Trigger animations when element becomes visible */
.fade-in-left.visible {
    animation: fade-in-left 0.7s ease-out forwards;
}

.fade-in-right.visible {
    animation: fade-in-right 0.7s ease-out forwards;
}

/* Animista keyframes */
@keyframes fade-in-left {
    0% { transform: translateX(-50px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes fade-in-right {
    0% { transform: translateX(50px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}