@import "tailwindcss";

/* Flicker animation */

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        opacity: 1;
        text-shadow:
            0 0 5px #00FF88,
            0 0 10px #00FF88,
            0 0 20px #00FF88,
            0 0 40px #00FF88;
    }
    20%, 24%, 55% {
        opacity: 0.6;
        text-shadow: none;
    }
}

.flicker {
    animation: flicker 2.5s infinite;
}

@keyframes flicker-hover {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow:
        0 0 3px #00ff88,
        0 0 6px #00ff88,
        0 0 12px #00ff88;
    }
    20%, 24%, 55% {
        text-shadow: none;
    }
}

.neon-hover {
    transition: all 0.3s ease-in-out;
}

.neon-hover:hover {
    color: #ccffe5;
    text-shadow:
        0 0 4px #00ff88,
        0 0 8px #00ff88,
        0 0 16px #00ff88;
    animation: flicker-hover 2.5s infinite;
}
